<br>
<br>
<div>
<p class="btn btn-outline-success my-2 my-sm-0" role="button" ><%= link_to 'Create New Story', new_story_path %></p>
</div>


<p id="notice"><%= notice %></p>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>All Stories</h1>
<hr>
  <div>
    <% @stories.each do |story| %>
     <p><%= story.title %></p>
      <p><%= sanitize story.html %></p>
      <p><%= story.author %></p>
      
      <p class="btn btn-outline-success my-2 my-sm-0" role="button"><%= link_to 'Show', story %></p>
      <p class="btn btn-outline-success my-2 my-sm-0" role="button"><%= link_to 'Edit', edit_story_path(story) %></p>
      <p class="btn btn-outline-success my-2 my-sm-0" role="button"><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></p>
       <hr>
   
    <% end %>
  </div>


  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
</main>
<br>
<br>
<br>











