<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Content:</b>
  <%= sanitize @story.html %>
</p>

<p>
  <b>Author:</b>
  <%= @story.author %>
</p>


<%= form_tag(publish_story_path(@story), method: 'POST', remote: true) do %>
 <div class="actions">
    <%= submit_tag ("Publish") %>
    </div>
<% end %>