<!DOCTYPE html>
<html>
  <head>
    <title>NewsStories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <%= tinymce_assets %>
 <script type="text/javascript" src="assets/tinymce.js"></script>
 
    <%= yield %>
  </body>
</html>
